{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">{{ $title := .Title | plainify }}{{ $secTitle := "" }}{{ $secURL := "" }}{{ with .Data.Plural }}{{ $secTitle = . | humanize | title }}{{ $secURL = printf "/%s/" (. | urlize) }}{{ end }}{{ $siteTitle := .Site.Title | plainify }}
{{ partial "header.html" . }}{{ with .AlternativeOutputFormats.Get "RSS" }}
<link rel="alternate" href="{{ .Permalink }}" type="application/rss+xml" title="Entries in {{ $title }} [{{ $siteTitle }}]">{{ end }}
<meta name="robots" content="noindex">
<title>Entries in {{ $title }} [{{ $siteTitle }}]</title>
<meta property="og:title" content="Entries in {{ $title }}">
<meta name="description" content="Entries in {{ $title }}">
<meta property="og:description" content="Entries in {{ $title }}">{{ with .Site.Data.author }}{{ if .avatar }}
<meta property="og:image" content="{{ .avatar | absURL }}">{{ end }}{{ end }}
{{ partial "twitter-card.html" . }}

{{ partial "json-ld-list.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article>
<h1>Entries in {{ $title }}{{ with .OutputFormats.Get "RSS" }} <a href='{{ .RelPermalink }}' title='Feed'><i class='fas fa-rss'></i></a>{{ end }}</h1>
<ul class="title-list">{{ range .Data.Pages }}{{ partial "li-simple.html" . }}{{ end }}</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}