{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
<title>List of {{ .Title | title }} — {{ .Site.Title }}</title>
<meta property="og:title" content="List of {{ .Title | title | safeHTML }} — {{ .Site.Title | safeHTML }}">
<meta name="description" content="List of {{ .Title | title | safeHTML }}">
<meta property="og:description" content="List of {{ .Title | title | safeHTML }}">{{ with .Site.Data.author }}{{ if .avatar }}
<meta property="og:image" content="{{ .avatar | absURL }}">{{ end }}{{ end }}

{{ partial "json-ld-term.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article>
<h1>List of {{ .Title | title }}</h1>
<ul class="cloud">{{ $plural := .Data.Plural }}{{ range $k, $v := .Data.Terms }}{{ $count := len $v }}{{ $sz := add (math.Round (mul (math.Log $count) 5)) 5 }}{{ $key := $k | lower | urlize }}{{ $keyURL := printf "/%s/%s/" $plural $key }}
	<li style="font-size:{{ $sz }}pt;"><a href="{{ $keyURL | absURL }}" title="{{ $key }} ({{ $count }})">{{ $key }}</a></li>{{ end }}
</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}