<footer><!-- Footer Section -->
{{ $type := "Product" }}{{ if $.IsPage }}{{ if .Params.pageType }}{{ $type = .Params.pageType | humanize | title }}{{ else if .Site.Data.site.siteType }}{{ $type = .Site.Data.site.siteType | humanize | title }}{{ end }}{{ end }}
{{ $pubdate := .Date.Format "2006-01-02" }}{{ $update := .Lastmod.Format "2006-01-02" }}
{{ with .Site.Data.author }}{{ $imgURL := "/images/avatar.png" }}{{ with .avatar }}{{$imgURL = . }}{{ end }}<div class="userinfo">
	<div class="userinfo-avater">
		<a href="{{ .url | absURL }}"><img src="{{ $imgURL | absURL }}" width="48" height="48" alt="avatar" id="logo"></a>
	</div>
	<div class="userinfo-info" id="maker">
		{{ $type }} by <a href="{{ .url | absURL }}" rel="cc:attributionURL" property="cc:attributionName">{{ .name }}</a>
		{{ if or $.IsHome $.IsNode }}{{ with $.Site.Data.site }}, <time property='dc:dateCopyrighted'>{{ .since | dateFormat "2006" }}</time>-<time property='dc:modified'>{{ $.Site.Lastmod | dateFormat "2006" }}</time>{{ end }}{{ else }}in <time property='dc:dateCopyrighted'>{{ $pubdate }}</time>{{ if ne $pubdate $update }} (revised in {{ $update }}){{ end }}{{ end }}
		{{ with $.Params.license }}{{ partial "cc-license.html" . }}{{ else }}{{ with .license }}{{ partial "cc-license.html" . }}{{ end }}{{ end }}
		{{ partial "social.html" . }}
	</div>
</div>{{ end }}

<nav>
{{ partial "navi.html" . }}
{{ partial "credit.html" . }}
</nav>
</footer><!-- Footer Section -->