<script src="//kit.fontawesome.com/152e339e63.js"></script>
{{- with .Site.Data.site -}}{{- if eq .styles "dark" -}}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata%3a500,700%7cNoto+Sans+JP%3a500,700%7cNoto+Sans%3a500,700%7cNoto+Serif%7cNoto+Serif+JP&display=swap" type='text/css'>
<link rel="stylesheet" href="/css/local-font-dark.css" type='text/css'>
{{- else -}}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata%3a400,700%7cNoto+Sans+JP%3a400,700%7cNoto+Sans%3a400,700%7cNoto+Serif%7cNoto+Serif+JP&display=swap" type='text/css'>
<link rel="stylesheet" href="/css/local-font.css" type='text/css'>
{{- end -}}{{- else -}}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata%3a400,700%7cNoto+Sans+JP%3a400,700%7cNoto+Sans%3a400,700%7cNoto+Serif%7cNoto+Serif+JP&display=swap" type='text/css'>
<link rel="stylesheet" href="/css/local-font.css" type='text/css'>
{{- end -}}