{{ partial "json-ld-site.html" . }}{{ $maker := printf "%s#maker" .Site.BaseURL }}{{ $org := printf "%s#org" $.Site.BaseURL }}
<script type="application/ld+json">{{ $breadcrumb := printf "%s#breadcrumb-list" .Permalink }}
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"@id": {{ $breadcrumb }},
	"itemListElement": [
		{
			"@type": "ListItem",
			"position": 1,
			"item": {
				"@id": {{ .Site.BaseURL }}
			}
		}
	]
}
</script>
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "WebPage",
	"@id": {{ .Permalink }},
	"@url": {{ .Permalink }},
	"inLanguage": {{ .Site.LanguageCode }},
	"name": "{{ .Title }} Cloud",
	"description": "{{ .Title }} Cloud",
	"publisher": {
		"@id": {{ $org }}
	},
	"author": {
		"@id": {{ $maker }}
	}{{ with .Site.Data.site }}{{ with .image }},
	"image": "{{ . | absURL }}"{{ end }}{{ end }}
}
</script>