{{ partial "json-ld-site.html" . }}{{ $maker := printf "%s#maker" .Site.BaseURL }}
<script type="application/ld+json">{{ $breadcrumb := printf "%s#breadcrumb-list" .Permalink }}
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"@id": {{ $breadcrumb | jsonify }},
	"itemListElement": [
		{
			"@type": "ListItem",
			"position": 1,
			"item": {
				"@id": {{ .Site.BaseURL | jsonify }}
			}
		}
	]
}
</script>
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "WebPage",
	"@id": {{ .Permalink | jsonify }},
	"@url": {{ .Permalink | jsonify }},
	"inLanguage": {{ .Site.LanguageCode | jsonify }},
	"name": "{{ .Title }} Cloud",
	"description": "{{ .Title }} Cloud",
	"publisher": {
		"@id": {{ $maker | jsonify }}
	},
	"author": {
		"@id": {{ $maker | jsonify }}
	}{{ with .Site.Data.site }}{{ with .image }}
	"image": "{{ . | absURL }}"{{ end }}{{ end }}
}
</script>