<script type="application/ld+json">{{ $org := printf "%s#org" $.Site.BaseURL }}{{ $maker := printf "%s#maker" $.Site.BaseURL }}{{ $org := printf "%s#org" $.Site.BaseURL }}{{ $logo := printf "%s#logo" $.Site.BaseURL }}
{
	"@context": "http://schema.org",
	"@type": "WebSite",
	"@id": {{ .Site.BaseURL }},
	"inLanguage": {{ .Site.LanguageCode }},
	"name": {{ .Site.Title }},
    "url": {{ $.Site.BaseURL }},
	"publisher": {
		"@id": {{ $org }}
	},
	"author": {
		"@id": {{ $maker }}
	}{{ with .Site.Data.site }}{{ with .image }},
	"image": {{ . | absURL }}{{ end }}{{ with .description }},
	"description": {{ . }}{{ end }}{{ end }}
}
</script>{{ with .Site.Data.author }}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Organization",
	"@id": {{ $org }}{{ with .name }},
	"name": {{ . }}{{ end }}{{ with .avatar }},
	"logo": {
		"@type": "ImageObject",
		"@id": {{ $logo }},
		"url": {{ . | absURL }}
	}{{ end }}
}
</script>
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Person",
	"@id": {{ $maker }}{{ with .name }},
	"name": {{ . }}{{ end }}{{ with .url }},
	"url": {{ . }}{{ end }}{{ with .avatar }},
	"image": {{ . | absURL }}{{ end }}
}
</script>{{ end }}