<script type="application/ld+json">{{ $org := printf "%s#org" $.Site.BaseURL }}{{ $maker := printf "%s#maker" $.Site.BaseURL }}{{ $org := printf "%s#org" $.Site.BaseURL }}{{ $logo := printf "%s#logo" $.Site.BaseURL }}
{
	"@context": "http://schema.org",
	"@type": "WebSite",
	"@id": {{ .Site.BaseURL | jsonify }},
	"inLanguage": {{ .Site.LanguageCode | jsonify }},
	"name": {{ .Site.Title | jsonify }},
    "url": {{ .Site.BaseURL | jsonify }},
	"publisher": {
		"@id": {{ $org | jsonify }}
	},
	"author": {
		"@id": {{ $maker | jsonify }}
	}{{ with .Site.Data.site }}{{ with .image }},
	"image": "{{ . | absURL }}"{{ end }}{{ with .description }},
	"description": {{ . | jsonify }}{{ end }}{{ end }}
}
</script>{{ with .Site.Data.author }}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Organization",
	"@id": {{ $org | jsonify }}{{ with .name }},
	"name": {{ . | jsonify }}{{ end }}{{ with .avatar }},
	"logo": {
		"@type": "ImageObject",
		"@id": {{ $logo | jsonify }},
		"url": "{{ . | absURL }}"
	}{{ end }}
}
</script>
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Person",
	"@id": {{ $maker | jsonify }}{{ with .name }},
	"name": {{ . | jsonify }}{{ end }}{{ with .url }},
	"url": {{ . | jsonify }}{{ end }}{{ with .avatar }},
	"image": "{{ . | absURL }}"{{ end }}
}
</script>{{ end }}