{{ partial "json-ld-site.html" . }}{{ $maker := printf "%s#maker" .Site.BaseURL }}{{ $org := printf "%s#org" $.Site.BaseURL }}{{ if .Data.Plural }}
<script type="application/ld+json">{{ $sec := .Data.Plural }}{{ $secURL := printf "/%s/" ($sec | urlize) }}{{ $secTitle := printf "List of %s" ($sec | humanize | title) }}
{
	"@context": "http://schema.org",
	"@type": "WebPage",
	"@id": {{ $secURL | absURL }},
	"url": {{ $secURL | absURL }},
	"inLanguage": {{ .Site.LanguageCode }},
	"name": {{ $secTitle }},
	"description": {{ $secTitle }},
	"publisher": {
		"@id": {{ $org }}
	},
	"author": {
		"@id": {{ $maker }}
	}{{ with .Site.Data.site }}{{ with .image }},
	"image": {{ . | absURL }}{{ end }}{{ end }}
}
</script>{{ end }}
<script type="application/ld+json">{{ $breadcrumb := printf "%s#breadcrumb-list" .Permalink }}
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"@id": {{ $breadcrumb }},
	"itemListElement": [
		{
			"@type": "ListItem",
			"position": 1,
			"item": {
				"@id": {{ .Site.BaseURL }}
			}
		}{{ if .Data.Plural }}{{ $secURL := printf "/%s/" .Data.Plural | urlize }},
		{
			"@type": "ListItem",
			"position": 2,
			"item": {
				"@id": {{ $secURL | absURL }}
			}
		}{{ end }}
	]
}
</script>
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "WebPage",
	"@id": {{ .Permalink }},
	"url": {{ .Permalink }},
	"inLanguage": {{ .Site.LanguageCode }},
	"name": "Entries of {{ .Title }}{{ with .Data.Plural }} in {{ . | humanize }}{{ end }}",
	"description": "Entries of {{ .Title }}{{ with .Data.Plural }} in {{ . | humanize }}{{ end }}",
	"publisher": {
		"@id": {{ $org }}
	},
	"author": {
		"@id": {{ $maker }}
	}{{ with .Site.Data.site }}{{ with .image }}
	"image": {{ . | absURL }}{{ end }}{{ end }}
}
</script>