<ul class="social">
	{{- with .github }}<li><a rel="me" href="https://github.com/{{ . }}"><span class="github-color"><abbr title="GitHub"><i class="fab fa-github"></i></abbr></span></a></li>{{ end -}}
	{{- with .flickr }}<li><a rel="me" href="https://www.flickr.com/photos/{{ . }}/"><span class="flickr-color"><abbr title="Flickr"><i class="fab fa-flickr"></i></abbr></span></a></li>{{ end -}}
	{{- with .instagram }}<li><a rel="me" href="http://instagram.com/{{ . }}"><span class="instagram-color"><i class="fab fa-instagram"></i></span></a></li>{{ end -}}
	{{- with .medium }}<li><a rel="me" href="https://medium.com/{{ . }}"><span class="medium-color"><i class="fab fa-medium-m"></i></span></a></li>{{ end -}}
	{{- with .tumblr }}<li><a rel="me" href="http://{{ . }}.tumblr.com/"><span class="tumblr-color"><i class="fab fa-tumblr"></i></span></a></li>{{ end -}}
	{{- with .mastodon }}<li><a rel="me" href="https://{{ . }}"><span class="mastodon-color"><abbr title="Mastodon"><i class="fa-brands fa-mastodon"></i></abbr></span></a></li>{{ end -}}
	{{- with .bluesky }}<li><a rel="me" href="https://bsky.app/profile/{{ . }}"><span class="bluesky-color"><abbr title="Bluesky"><i class="fa-brands fa-bluesky"></i></abbr></span></a></li>{{ end -}}
	{{- with .strava }}<li><a rel="me" href="https://www.strava.com/athletes/{{ . }}"><span class="strava-color"><abbr title="Strava"><i class="fa-brands fa-strava"></i></abbr></span></a></li>{{ end -}}
	{{- with .twitter }}<li><a rel="me" href="https://x.com/{{ . }}"><span class="twitter-color"><abbr title="X (Twitter)"><i class="fab fa-twitter"></i></abbr></span></a></li>{{ end -}}
	{{- with .facebook }}<li><a rel="me" href="https://www.facebook.com/{{ . }}"><span class="facebook-color"><i class="fab fa-facebook-f"></i></span></a></li>{{ end -}}
	{{- with .linkedin }}<li><a rel="me" href="https://jp.linkedin.com/in/{{ . }}"><span class="linkedin-color"><i class="fab fa-linkedin-in"></i></span></a></li>{{ end -}}
	{{- with .email }}<li><a rel="me" href="mailto:{{ . }}"><span class="envelope-color"><i class="fas fa-envelope"></i></span></a></li>{{ end -}}
</ul>