<span>{{- range $i, $s := .Params -}}
{{- if gt $i 0 -}}&nbsp;{{- end -}}
{{- if eq $s "cc" -}}<i class="fab fa-creative-commons"></i>{{- end -}}
{{- if eq $s "pd" -}}<i class="fab fa-creative-commons-pd"></i>{{- end -}}
{{- if eq $s "zero" -}}<i class="fab fa-creative-commons-zero"></i>{{- end -}}
{{- if eq $s "by" -}}<i class="fab fa-creative-commons-by"></i>{{- end -}}
{{- if eq $s "sa" -}}<i class="fab fa-creative-commons-sa"></i>{{- end -}}
{{- if eq $s "nc" -}}<i class="fab fa-creative-commons-nc"></i>{{- end -}}
{{- if eq $s "nc-jp" -}}<i class="fab fa-creative-commons-nc-jp"></i>{{- end -}}
{{- if eq $s "nc-eu" -}}<i class="fab fa-creative-commons-nc-eu"></i>{{- end -}}
{{- if eq $s "nd" -}}<i class="fab fa-creative-commons-nd"></i>{{- end -}}
{{- end -}}</span>