<figure{{ with .Get "lang" }} lang="{{ . }}"{{ end }}>
<blockquote{{ with .Get "class" }} class="{{ . }}"{{ end }}>{{ with .Get "type" }}{{ $.Inner | $.Page.RenderString (dict "markup" .) }}{{ else }}{{ .Inner }}{{ end }}</blockquote>{{ if .Get "title"}}
<figcaption><div>{{ with .Get "lang" }}via {{ else }}{{ end }}<q>{{ with .Get "link"}}<a href="{{.}}">{{ end }}{{ .Get "title" }}{{ with .Get "link"}}</a>{{ end }}</q>{{ with .Get "lang" }}{{ else }}より{{ end }}</div></figcaption>
{{ end }}</figure>