<span>{{- range $i, $s := .Params -}}
{{- if gt $i 0 -}}&nbsp;{{- end -}}
{{- if eq $s "check" -}}<i class="fas fa-check"></i>{{- end -}}
{{- if eq $s "pdf" -}}<i class="far fa-file-pdf"></i>{{- end -}}
{{- if eq $s "css3" -}}<i class="fab fa-css3"></i>{{- end -}}
{{- if eq $s "erlang" -}}<i class="fab fa-erlang"></i>{{- end -}}
{{- if eq $s "html5" -}}<i class="fab fa-html5"></i>{{- end -}}
{{- if eq $s "java" -}}<i class="fab fa-java"></i>{{- end -}}
{{- if eq $s "nodejs" -}}<i class="fab fa-node-js"></i>{{- end -}}
{{- if eq $s "php" -}}<i class="fab fa-php"></i>{{- end -}}
{{- if eq $s "python" -}}<i class="fab fa-python"></i>{{- end -}}
{{- if eq $s "rust" -}}<i class="fab fa-rust"></i>{{- end -}}
{{- if eq $s "swift" -}}<i class="fab fa-swift"></i>{{- end -}}
{{- end -}}</span>