<span>{{- range $i, $s := .Params -}}
{{- if gt $i 0 -}}&nbsp;{{- end -}}
{{- if eq $s "check" -}}<i class="fa-solid fa-check"></i>{{- end -}}
{{- if eq $s "square" -}}<i class="fa-regular fa-square"></i>{{- end -}}
{{- if eq $s "square-check" -}}<i class="fa-regular fa-square-check"></i>{{- end -}}
{{- if eq $s "rss" -}}<i class="fa-solid fa-rss"></i>{{- end -}}
{{- if eq $s "share" -}}<span class="share-color"><i class="fa-solid fa-share-from-square"></i></span>{{- end -}}
{{- if eq $s "share-alt" -}}<i class="fa-solid fa-share"></i>{{- end -}}
{{- if eq $s "share-nodes" -}}<i class="fa-solid fa-share-nodes"></i>{{- end -}}
{{- if eq $s "github" -}}<span class="github-color"><i class="fa-brands fa-github"></i></span>{{- end -}}
{{- if eq $s "twitter" -}}<span class="twitter-color"><i class="fa-brands fa-twitter"></i></span>{{- end -}}
{{- if eq $s "twitter-sq" -}}<span class="twitter-color"><i class="fa-brands fa-twitter-square"></i></span>{{- end -}}
{{- if eq $s "mastodon" -}}<span class="mastodon-color"><i class="fa-brands fa-mastodon"></i></span>{{- end -}}
{{- if eq $s "medium" -}}<span class="medium-color"><i class="fa-brands fa-medium-m"></i></span>{{- end -}}
{{- if eq $s "tumblr" -}}<span class="tumblr-color"><i class="fa-brands fa-tumblr"></i></span>{{- end -}}
{{- if eq $s "instagram" -}}<span class="instagram-color"><i class="fa-brands fa-instagram"></i></span>{{- end -}}
{{- if eq $s "flickr" -}}<span class="flickr-color"><i class="fa-brands fa-flickr"></i></span>{{- end -}}
{{- if eq $s "facebook" -}}<span class="facebook-color"><i class="fa-brands fa-facebook-f"></i></span>{{- end -}}
{{- if eq $s "facebook-sq" -}}<span class="facebook-color"><i class="fa-brands fa-facebook-square"></i></span>{{- end -}}
{{- if eq $s "linkedin" -}}<span class="linkedin-color"><i class="fa-brands fa-linkedin-in"></i></span>{{- end -}}
{{- if eq $s "pocket" -}}<span class="pocket-color"><i class="fa-brands fa-get-pocket"></i></span>{{- end -}}
{{- if eq $s "windows" -}}<i class="fa-brands fa-windows"></i>{{- end -}}
{{- if eq $s "email" -}}<span class="envelope-color"><i class="fa-solid fa-envelope"></i></span>{{- end -}}
{{- if eq $s "pdf" -}}<i class="fa-solid fa-file-pdf"></i>{{- end -}}
{{- if eq $s "css3" -}}<i class="fa-brands fa-css3"></i>{{- end -}}
{{- if eq $s "erlang" -}}<i class="fa-brands fa-erlang"></i>{{- end -}}
{{- if eq $s "golang" -}}<i class="fa-brands fa-golang"></i>{{- end -}}
{{- if eq $s "html5" -}}<i class="fa-brands fa-html5"></i>{{- end -}}
{{- if eq $s "java" -}}<i class="fa-brands fa-java"></i>{{- end -}}
{{- if eq $s "nodejs" -}}<i class="fa-brands fa-node-js"></i>{{- end -}}
{{- if eq $s "php" -}}<i class="fa-brands fa-php"></i>{{- end -}}
{{- if eq $s "python" -}}<i class="fa-brands fa-python"></i>{{- end -}}
{{- if eq $s "rust" -}}<i class="fa-brands fa-rust"></i>{{- end -}}
{{- if eq $s "swift" -}}<i class="fa-brands fa-swift"></i>{{- end -}}
{{- end -}}</span>